<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Config meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="YouthHack">

    <!-- Open graph tags and twitter tags -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="YouthHack">
    <meta property="og:url" content="youthhack.net"/>
    <meta property="twitter:url" content="youthhack.net"/>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <!-- Set the page title -->
    {{#if title}}
      <title>{{ title }}</title>
      <meta property="og:title" content="{{ title }}">
      <meta property="twitter:title" content="{{ title }}">
    {{else}}
      <title>YouthHack</title>
      <meta property="og:title" content="YouthHack">
      <meta property="twitter:title" content="YouthHack">
    {{/if}}

    <!-- Set the page description -->
    {{#if description}}
      <meta name="description" content="{{ description }}">
      <meta property="og:description" content="{{ description }}">
      <meta property="twitter:description" content="{{ description }}">
    {{else}}
      <meta name="description" content="YouthHack is a global community of young entrepreneurs.">
      <meta property="og:description" content="YouthHack is a global community of young entrepreneurs.">
      <meta property="twitter:description" content="YouthHack is a global community of young entrepreneurs.">
    {{/if}}

    <!-- Set the page keywords -->
    {{#if keywords}}
      <meta name="keywords" content="{{ keywords }}">
    {{else}}
      <meta name="keywords" content="youthhack,youth,hack,ongchoco,penn,wharton,upenn,startup,student,org,organization,innovation,global,community,yh,david,cameron,cabo,amit,gupta,huntsman,university,pennsylvania,entrepreneurs,entrepreneurship">
    {{/if}}

    <!-- Set the page image if there is one -->
    {{#if image}}
      <meta property="og:image" content="{{image}}">
      <meta property="twitter:image" content="{{image}}">
      <meta name="twitter:card" content="summary_large_image"/>
    {{else}}
      <meta property="og:image" content="/img/bg.png">
      <meta property="twitter:image" content="/img/bg.png">
      <meta name="twitter:card" content="summary_large_image"/>
    {{/if}}

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Palanquin+Dark" rel="stylesheet">
    <script src="https://use.fontawesome.com/297cffcc6b.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- App styles -->
    <link rel="stylesheet" href="/strapper.min.css">
    <link rel="stylesheet" href="/index.css" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Roboto:400,500,700|PT+Serif:400,400i,700" rel="stylesheet">
  </head>
  <body>
    <!-- Wrapper div for the application -->
    <div class="app">
      <!-- Navigation -->
      {{> nav}}

      <!-- App content -->
      <div class="content fade-in">
        <div class="container-fluid">
          {{{ body }}}
        </div>
      </div>

      <!-- Footer -->
      {{> footer }}
    </div>

    <!-- JavaScripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/jquery.autosize/3.0.20/autosize.min.js"></script>

    <!-- App-specific scripts -->
    <script src="js/smoothScroll.js"></script>
    <script src="js/smoothScrollInit.js"></script>
    <script src="js/smoothProgress.js"></script>
    <script src="js/formspree.js"></script>
    <script src="js/label.js"></script>
    <script src="js/autosizeInit.js"></script>
    <script src="js/scroll.js"></script>

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-105686107-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-105686107-1');
    </script>
  </body>
</html>
